.home {
  height: 100vh;
  background: #0000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 40px;
}

.home > h1 {
  color: #333;
  font-size: min(120px, 10vw);
  margin: 0;

  text-shadow: 0 10px 20px #fff;
}

.home > h2 {
  color: #333;
  font-size: min(40px, 3.5vw);
  margin: 0;

  text-shadow: 0 5px 10px #fff;
}
