.home {
  height: 100vh;
  background: #0000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home > h1 {
  font-size: min(120px, 10vw);

  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
