.banner {
  height: 400px;
  background: #0000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > canvas {
  height: 400px;
}

.banner > h1 {
  color: var(--text);
  font-size: 64px;
}
