.link-wrapper {
  padding: 10px;

  text-decoration: none;
  color: inherit;
}

.link-content  {
  background:
    linear-gradient(#00000000, #00000000),
    linear-gradient(#000000ff, #000000ff);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 100ms;
}

.link-wrapper:hover > .link-content {
  background-size: 0 0.1em, 100% 0.1em;
}
