.link-wrapper {
  padding: 10px;

  text-decoration: none;
  color: inherit;
}

.link-content {
  position: relative;
}

.link-content::after {
  content: '';
  position: absolute;
  width: 0;
  left: -2px;
  bottom: -2px;

  border: 2px solid #000;
  border-radius: 2px;
  border-left: 0px solid #000;
  border-right: 0px solid #000;

  transition: border-width 100ms, width 100ms;
}

.link-wrapper:hover > .link-content::after {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  width: 100%;
}
