.parse-tree {
  display: flex;
  justify-content: center;
}

.parse-tree .node {
  display: inline-block;
  width: 50px;
  height: 50px;

  padding: 5px;
  text-align: center;

  border: 3px solid var(--light-gray);
  border-radius: 25px;
  background-color: #fff;

  cursor: pointer;

  font-family: "Martian Mono", monospace;
  font-size: 24px;
}

.parse-tree .node.hover {
  border-color: var(--green);
}

.parse-tree .binary {
  display: flex;
  flex-direction: row;
}

.parse-tree .child {
  margin-top: 80px;
}

.parse-tree .line {
  position: absolute;
  width: 3px;
  z-index: -1;
  background-color: var(--light-gray);

  transform-origin: top;
}

.parse-tree .line.hover {
  background-color: var(--green);
}
