.wrapper {
  width: 100%;
}

.content {
  margin: 20px;
  display: flex;
}

.banner {
  height: 200px;
  background: #ddd;
}

.code-input {
  resize: none;
  font-family: monospace;
  font-size: 32px;
  width: 250px;

  border: 2px solid #888;
  border-radius: 4px;
}

.highlight {
  color: #0a3;
  position: absolute;
  margin-top: 64px;
  font-family: monospace;
  font-size: 20px;
  width: 250px;
  padding: 4px;
  whitespace: nowrap;
}
