:root {
  --gray: #333;
  --light-gray: #888;

  --blue: #238;
  --light-blue: #67e;
  --green: #5a4;

  --text: var(--gray);
}

.wrapper {
  width: 100%;
}

.content {
  margin: 20px;
  display: flex;
}

.header-wrapper .link-wrapper {
  font-size: min(24px, 3vw);
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
